*{
    margin: 0px;
    padding: 0px;
}
#main{
    display: grid;
    grid-template: 10px 1fr 10px / 10px 1fr 4fr 10px;
}

#side-nav{
    grid-area: 2 / 2 / 2 / 3;
    display: grid;
    justify-content: center;
    align-content: center;
}

#contenido{
    grid-area: 2 / 3 / 2 / 4;
}

