ul{
    list-style: none;
}

.item-documentos{
    display: grid;
    grid-template: 30px 50px 30px / 150px;
    align-content: center;
    justify-content: center;

}

.ddd{
    display: grid;
    grid-template: repeat(6,1fr) / repeat(4 ,1fr);
}