/*
    *Estilos para el encabezado.
*/
 
header{ 
    background-color: brown;
} 

.imgLogo{
    width:300px;
    height: 120px;
}

.encabezado{
    display: grid;
    grid-template: 10px 150px 10px / 10px 350px auto 300px 10px; 
}

.logo{
    grid-area: 2 / 2;
    display: grid;
    align-self: center;
    justify-self: center;
}

.menu{
    grid-area: 2 / 4;
    display: grid;
    justify-self: start;
    align-self: self-start;
}



a{
    text-decoration: none;
    color: black;
}